$orange: hsl(26, 100%, 55%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$pale-orange: hsl(25, 100%, 94%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
#root {
    $lightbox-display: flex;    
}

@mixin buttons {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
}

.main {
    margin-top: 90px; 
    margin-left: 212px;
    margin-right: 212px; 
    display: flex; 
    justify-content: space-between;
}
.photos {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 35%;
    height: auto;
}

@media screen and (max-width: 1440px) {
    .photos {
        width: 31vw;
    }
}

.image-box {
    width: 100%;
    height: auto;
}
.main-image {
    width: 100%; 
    border-radius: 20px;
}
.thumbnail-box {
    display: flex; 
    justify-content: space-between;
}
.thumbnail {
    width: 20%;
    height: auto;
    border-radius: 10px;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    background-color: white;
}
.thumb-img {
    width: 100%;
    border-radius: 7px;
}

.thumbnail:hover {
    cursor: pointer;
    border: solid 3px $orange;
    justify-content: center;
    align-items: center;
    .thumb-img {
        opacity: 0.4;
    }
}

.description {
    width: 445px;
}

.company-name {
    color: $orange;
}

.product-name {
    font-size: 3rem;
}

.description-text {
    font-size: 18px;
    color: $dark-grayish-blue;
    line-height: 1.8rem;
}

.price-box{
    display: flex;
    flex-direction: column;
    gap: 17px;
    .old-price {
        margin: 0;
        text-decoration: line-through;
        color: $dark-grayish-blue;
    }
}
.price {
    font-size: 30px;
}
.discount-box {
    font-weight: bold;
    display: flex;
    gap: 17px;
    align-items: center;
    h2, p{
        margin: 0;
    }
    .discount {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 27px;
        text-align: center;
        color: $orange;
        background-color: $pale-orange;
        border-radius: 10px;
    }

}

.add {
    display: flex;
    margin-top: 40px;
    gap: 17px;
}
.select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 155px;
    height: 55px;
    background-color: $light-grayish-blue;
    border-radius: 5px;
}
.plus {
    @include buttons();
}
.minus {
    @include buttons();    
}

.plus:hover, .minus:hover {
    cursor: pointer;
    .minus-img, .plus-img {
        filter: opacity(0.5);
    }
}
.add-button {
    width: 272px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    border: none;
    background-color: $orange;
    color: white;
    border-radius: 10px;
}
.add-button:hover {
    filter: opacity(0.5);
    cursor: pointer;
}

.lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: hsl(0, 0%, 0%), $alpha: 0.75);
    display: var(--lightbox-display);
    justify-content: center;
    align-items: center;
}
.lightbox-container {
    position:  relative;
    width: 552px;
}

.lightbox-img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.close-container {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.lightbox-thumbnails {
    .thumbnail {
        transform: scale(0.7);
    }
    margin-top: 20px;
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    gap: 5px;
}

.switch-buttons-container {
    width: 100vw;
    display: flex;
    position: absolute;
    top: 40%;
    gap: 40px;
    justify-content: space-evenly;
}

.change-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 40px;
}